.mainTitle {
  color: white;
}

.carousel-control-next {
  margin-bottom: 32px;
  width: 32px;
}

.carousel-control-prev {
  margin-bottom: 32px;
  width: 32px;
}

.carousel-item {
  transition: 2s;
}

.movie-row {
  margin-top: 20px;
  margin-bottom: 50px;
}
